<footer >
    <div class="container-fluid fixed-bottom d-flex justify-content-center bg-success">
        <span class="navbar-brand fs-4 h5" style="color: yellow;">Made with <i class="fa fa-heart" style="font-size:20px;color:red"></i> by Tarun Kumar</span>
      </div>
</footer>