<nav class="navbar navbar-fixed bg-success">
    <div class="container-fluid d-flex justify-content-center">
      <span class="navbar-brand fs-2 h1" style="color: yellow;">Result Management App</span>
    </div>
  </nav>