<div class="col-sm-4 mx-auto" style="margin-top: 8%;">
    <div class="card shadow-2 shadow-lg">
        <div class="card-body mx-auto">
            <h1 class="card-title">OOPS!!!</h1>
            <h3 style="color: red;">Page Not Found.</h3>
            <a href="/" class="btn btn-primary" style="margin-left: 38%; margin-top: 15px;">Back</a>
        </div>
    </div>
</div>