<div class="col-sm-4 mx-auto border border-dark rounded-2" style="margin-top:10%">
    <div class="card rounded-2 shadow-lg">
        <div class="card-body mx-auto">
            <h2 class="card-title">Login As</h2>
            <a href="/teacher/login" class="btn btn-primary"> Teacher </a>
            <a href="/student/login" class="btn btn-primary"> Student </a>
        </div>
    </div>

</div>